@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-y: auto;
}

:root {
  --background: #f7f7f7;
  --text-color: #1c1c1c;
}

:root.dark {
  --background: #1c1c1c;
  --text-color: #fefefe;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

li {
  color: var(--text-color);
}

strong {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--text-color);
}

.dark li {
  color: var(--text-color);
}

.dark strong {
  color: var(--text-color);
}

.dark a {
  color: var(--text-color);
}

.dark p {
  color: var(--text-color);
}
